<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="module" src="{{url_for('static', filename='scripts/index.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <div class="container">
        <title>Drag and Drop Sound File</title>
        <div id="drop-area">
            <p>Drag and drop a sound file here</p>
        </div>
    </div>
    <div id="waveform"></div>
    <button id="playToggleButton">Play</button>
    <input type="range" id="volumeSlider" min="0" max="1" step="0.02" value="1">
</body>

</html>